<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Project.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Project.Properties.Settings>
            <setting name="Project_com_tarangdemo_www_ExcelService" serializeAs="String">
                <value>http://www.tarangdemo.com/_vti_bin/ExcelService.asmx</value>
            </setting>
        </Project.Properties.Settings>
    </applicationSettings>
</configuration>